
.header{
    text-align: center;
}
.search{
    margin-left: 600px;
}
.search button{
    background-color: rgba(0, 0, 255, 0.261);
}
.tableheader{
    margin-left: 600px;
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.totalValue{
    display: flex;
    flex-direction: row;
    margin-left: 600px;

    gap: 10px;
}
.list div {
    margin-left: 400px;
    display: flex;
    flex-direction: row;
    gap: 30px;
}